$constrain: 800px;
$constrain-960: 960px;

$font: 'PT Sans Narrow', sans-serif;

$break-299: 299px;
$break-300: 300px;

$break-349: 349px;
$break-350: 350px;

$break-499: 499px;
$break-500: 500px;

$break-799: 799px;
$break-800: 800px;