<header id="header" class="header fixedsticky">

  <div class="header_container">

    <div id="header_issue" class="header_issue toggle-button">
      <a href="#">
        <div class="header_issue--icon">►</div>
        <span>Issue 1</span>
      </a>
    </div>

    <h1 class="site_name"><a href="/">{{ blog_name }}</a></h1>

    {% include "main-nav.twig" %}

  </div>

</header>